*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center
{    
    position: relative;
    margin: auto;    
    height: 400px;
    width: 420px;    
}

img
{
    position: absolute;
}

[class^='down']
{
    z-index: 1;
}


[class^='down']:hover ~ .up
{
    z-index: 0;
}



.up
{
    z-index: 2;
    left: 85px;
    top: 45px;
}

.down1
{
    left: 5px;
    top: 5px;
}

.down2
{    
    left: 217px;
    top: -5px;
}

.down3
{  
    left: 117px;
    top: 195px;
}

