.header{
    background-color: blueviolet;
    color: azure;
    text-align: center;
}

.footer{
    background-color: rgb(168, 50, 109);
}

.wrap{
    background-color: blue;    
}

.menu{
    background-color: rgb(228, 207, 22);
    width: 33.3%;
    float: left;
}

.content{
    background-color: rgb(109, 96, 90);
    margin-left: 33.4%;
    margin-right: 33.4%;
}

.banner{
    background-color: rgb(49, 226, 43);
    width: 33.3%;
    float: right;
}

/* .clearfix
{
    clear: both;
} */

.clearfix::after { 
    content: ""; 
    clear: both; 
    display: block; 
}

