@import 'settings.scss';

// $fontNK90: 'NK90', Regular;
// $fontGilroy: 'Gilroy', Sans Serif;
// $backcolorGreen: #94C31F;
// $colorBlack: #000;
// $colorWhite: #FFF;

.header {
    margin-bottom: 50px;

    &.no-margin-bottom {
        margin-bottom: 0;
    }

    .header-top {
        margin-bottom: 29px;
    }

    .nav-main {
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);


        ul {
            justify-content: center;

            li {
                padding-top: 48px;
                padding-bottom: 48px;
                flex-basis: 16.6%;
                font-family: $fontNK90;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: $backcolorGreen;
                background-image: url("../img/li_border.svg");
                background-position-x: 100%;
                background-position-y: 50%;
                background-repeat: no-repeat;
                

                &.activ {
                    color: $colorWhite;
                    background: $backcolorGreen;
                    box-shadow: inset 0px 0px 13px rgba(0, 0, 0, 0.25);

                    pointer-events: none;

                }

                &:last-child {
                    background-image: none;
                }

                a {
                    transition: 0.3s;
                    &:hover{                        
                        background-color: $backcolorGreen;
                        color: $colorWhite;
                        opacity: 0.7;
                        border-radius: 5%;
                        padding: 5px;
                    }
    
                }
            }
        }
    }
}

.title {
    font-family: $fontNK90;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: $backcolorGreen;
    margin-bottom: 105px;

}

.members {
    display: flex;
    flex-direction: column;
    margin-bottom: 184px;

    .member {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 60px;
        position: relative;

        .line {
            position: absolute;
            width: 141.5px;
            height: 50.85px;
            bottom: 2px;
            right: 472px;

            @media screen and (max-width: 1030px) {
                display: none;
            }

            &.reflection {
                transform: scale(1, -1);
                top: 8px;
                left: 472px;
            }
        }

        &:nth-child(odd) {
            margin-right: 60px;
        }


        &:nth-child(even) {
            flex-direction: row-reverse;
            margin-left: 60px;
        }

        .member-foto {
            position: relative;
            width: 386px;
            height: 386px;
            position: relative;

            .foto {
                background-position: center;
                width: 366px;
                height: 366px;
                border-radius: 50%;
                position: absolute;
                bottom: 0;
                z-index: 2;
            }

            .fotoLab {
                background-image: url("../img/memberLab.png");
                background-size: 95%;
                right: 0;
            }

            .foto1 {
                background-image: url("../img/member1.png");
                background-size: 90%;
                background-position: top center;
                left: 0;
            }

            .foto2 {
                background-image: url("../img/member2.png");
                background-position: top center;
                background-size: 92%;
                right: 0;
            }

            .foto3 {
                background-image: url("../img/member3.png");
                background-position: top center;
                background-size: 94%;
                left: 0;
            }

            .foto4 {
                background-image: url("../img/member4.png");
                background-position: center;
                background-size: 105%;
                right: 0;
            }

            .mask {
                background-color: $backcolorGreen;
                width: 366px;
                height: 366px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                z-index: 1;
            }

            .fotoLab+.mask,
            .foto2+.mask,
            .foto4+.mask {
                left: 0;
            }

            .foto1+.mask,
            .foto3+.mask {
                right: 0;
            }

            @media screen and (max-width: 1024px) {

                width: 326px;
                height: 326px;

                .foto {
                    width: 306px;
                    height: 306px;
                }

                .mask {
                    width: 306px;
                    height: 306px;
                }
            }


        }

        &:nth-child(even) .member-foto {
            margin-left: 59px;
        }


        &:nth-child(odd) .member-foto {
            margin-right: 59px;
        }

        .radius {
            background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
            box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .details {
            flex-basis: 45%;
            padding: 25px 30px 19px 57px;


            .initials {
                font-family: $fontNK90;

                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                color: $backcolorGreen;
                margin-bottom: 7px;

            }

            .position {
                font-family: $fontPoppins;

                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 1.5px;
                text-transform: uppercase;

                margin-bottom: 42px;
            }

            .about {
                font-family: $fontPoppins;
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                color: #7E8085;

            }
        }
    }
}

.header {
    .nav-main.centerlab {
        margin-bottom: 0;
    }
}


.main-center {
    background: url('../img/green_background_low.jpg') no-repeat;
    background-size: cover;
    font-family: $fontNK90;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorWhite;
    margin-bottom: 190px;

    .container-center {
        padding: 57px 70px;
        text-align: center;
    }

}

.main-certificates {

    margin-bottom: 136px;


    .container-certificates {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .svidetelstvo {
            img {
                width: auto;
                height: 478px;
            }
        }

        .license {

            img {
                width: auto;
                height: 478px;
            }
        }

    }
}

.main-author {
    margin-bottom: 74px;

    .title {
        margin-bottom: 54px;
    }

    p:not([class]) {
        margin-bottom: 10px;
        font-family: $fontGilroy;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;

    }

    .container-author {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;

        .group1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 0px;

            .text {
                flex-basis: 50%;
            }

            .pict {
                flex-basis: 40%;
                width: 336px;
                height: 330x;

                img {
                    // width: 494px;
                    // height: 494px;
                }
            }
        }

        .group2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 30px;

            .text {
                flex-basis: 60%;
            }

            .pict {
                flex-basis: 30%;
                margin-right: 40px;                

                img {
                    width: 430px;
                    height: 671px;
                    border-radius: 10px;
                }
            }

            
            @media screen and (min-width: 768px) and (max-width: 1200px) {
                align-items: flex-start
            }
        }
    }

}

.main-metodology {
    margin-bottom: 58px;

    .title {
        margin-bottom: 54px;
    }

    .wrap {
        background: url('../img/green_background_low.jpg') no-repeat;
        background-size: cover;

        .container-center {

            font-family: $fontNK90;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: $colorWhite;
            margin-bottom: 190px;
            padding: 57px 70px;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .container-metodology {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-family: $fontGilroy;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;

        .group1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;

            .text {
                flex-basis: 60%;

                .title {
                    font-size: 24px;
                    line-height: 26px;
                    margin-bottom: 9px;
                    text-align: left;
                }
            }


            .pict {
                flex-basis: 422px;
                position: relative;
                width: 422px;
                height: 320px;
                margin-right: 40px;

                img.X-rey {
                    width: 407px;
                    height: 305px;
                    position: absolute;
                    z-index: 2;
                    border-radius: 20px;
                    right: 0;
                    bottom: 0;
                }

                img.doc_background {
                    width: 407px;
                    height: 305px;
                    position: absolute;
                    z-index: 1;
                    top: -32px;
                    right: 200px;
                    left: 0;
                    top: 0;
                }

            }


            @media screen and (max-width: 1150px) {
                font-size: 16px;
                line-height: 24px;


                .pict {
                    flex-basis: 322px;
                    width: 322px;
                    height: 220px;
                    margin-right: 10px;

                    img.X-rey {

                        width: 307px;
                        height: 205px;
                    }

                    img.doc_background {
                        width: 307px;
                        height: 205px;
                    }

                }


            }

        }

        .group2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 10px;

            .text {
                flex-basis: 60%;
            }


            @media screen and (max-width: 1150px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

}

.wrap {
    background: url('../img/background_gray.png') 0 0 no-repeat;
    background-size: auto;
}

.main-gallery {
    position: realtive;

    .mySwiper3 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;

            img {
                width: 387px;
                height: 387px;
                margin: 30px;
            }
        }

    }
}