.header {
  margin-bottom: 50px; }
  .header.no-margin-bottom {
    margin-bottom: 0; }
  .header .header-top {
    margin-bottom: 29px; }
  .header .nav-main {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18); }
    .header .nav-main ul {
      justify-content: center; }
      .header .nav-main ul li {
        padding-top: 48px;
        padding-bottom: 48px;
        flex-basis: 16.6%;
        font-family: "NK90", Regular;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #94C31F;
        background-image: url("../img/li_border.svg");
        background-position-x: 100%;
        background-position-y: 50%;
        background-repeat: no-repeat; }
        .header .nav-main ul li.activ {
          color: #FFF;
          background: #94C31F;
          box-shadow: inset 0px 0px 13px rgba(0, 0, 0, 0.25);
          pointer-events: none; }
        .header .nav-main ul li:last-child {
          background-image: none; }

.title {
  font-family: "NK90", Regular;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #94C31F;
  margin-bottom: 105px; }

.members {
  display: flex;
  flex-direction: column;
  margin-bottom: 184px; }
  .members .member {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    position: relative; }
    .members .member .line {
      position: absolute;
      width: 141.5px;
      height: 50.85px;
      bottom: 2px;
      right: 472px; }
      @media screen and (max-width: 1030px) {
        .members .member .line {
          display: none; } }
      .members .member .line.reflection {
        transform: scale(1, -1);
        top: 8px;
        left: 472px; }
    .members .member:nth-child(odd) {
      margin-right: 60px; }
    .members .member:nth-child(even) {
      flex-direction: row-reverse;
      margin-left: 60px; }
    .members .member .member-foto {
      position: relative;
      width: 386px;
      height: 386px;
      position: relative; }
      .members .member .member-foto .foto {
        background-position: center;
        width: 366px;
        height: 366px;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        z-index: 2; }
      .members .member .member-foto .fotoLab {
        background-image: url("../img/memberLab.png");
        background-size: 95%;
        right: 0; }
      .members .member .member-foto .foto1 {
        background-image: url("../img/member1.png");
        background-size: 90%;
        background-position: top center;
        left: 0; }
      .members .member .member-foto .foto2 {
        background-image: url("../img/member2.png");
        background-position: top center;
        background-size: 92%;
        right: 0; }
      .members .member .member-foto .foto3 {
        background-image: url("../img/member3.png");
        background-position: top center;
        background-size: 94%;
        left: 0; }
      .members .member .member-foto .foto4 {
        background-image: url("../img/member4.png");
        background-position: center;
        background-size: 105%;
        right: 0; }
      .members .member .member-foto .mask {
        background-color: #94C31F;
        width: 366px;
        height: 366px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        z-index: 1; }
      .members .member .member-foto .fotoLab + .mask,
      .members .member .member-foto .foto2 + .mask,
      .members .member .member-foto .foto4 + .mask {
        left: 0; }
      .members .member .member-foto .foto1 + .mask,
      .members .member .member-foto .foto3 + .mask {
        right: 0; }
      @media screen and (max-width: 1024px) {
        .members .member .member-foto {
          width: 326px;
          height: 326px; }
          .members .member .member-foto .foto {
            width: 306px;
            height: 306px; }
          .members .member .member-foto .mask {
            width: 306px;
            height: 306px; } }
    .members .member:nth-child(even) .member-foto {
      margin-left: 59px; }
    .members .member:nth-child(odd) .member-foto {
      margin-right: 59px; }
    .members .member .radius {
      background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
      box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
      border-radius: 10px; }
    .members .member .details {
      flex-basis: 45%;
      padding: 25px 30px 19px 57px; }
      .members .member .details .initials {
        font-family: "NK90", Regular;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #94C31F;
        margin-bottom: 7px; }
      .members .member .details .position {
        font-family: "Poppins", Sans Serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 42px; }
      .members .member .details .about {
        font-family: "Poppins", Sans Serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: #7E8085; }

.header .nav-main.centerlab {
  margin-bottom: 0; }

.main-center {
  background: url("../img/green_background_low.jpg") no-repeat;
  background-size: cover;
  font-family: "NK90", Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFF;
  margin-bottom: 190px; }
  .main-center .container-center {
    padding: 57px 70px;
    text-align: center; }

.main-certificates {
  margin-bottom: 136px; }
  .main-certificates .container-certificates {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .main-certificates .container-certificates .svidetelstvo img {
      width: auto;
      height: 478px; }
    .main-certificates .container-certificates .license img {
      width: auto;
      height: 478px; }

.main-author {
  margin-bottom: 74px; }
  .main-author .title {
    margin-bottom: 54px; }
  .main-author p:not([class]) {
    margin-bottom: 10px;
    font-family: "Gilroy", Sans Serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px; }
  .main-author .container-author {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px; }
    .main-author .container-author .group1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 0px; }
      .main-author .container-author .group1 .text {
        flex-basis: 50%; }
      .main-author .container-author .group1 .pict {
        flex-basis: 40%;
        width: 336px;
        height: 330x; }
    .main-author .container-author .group2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 30px; }
      .main-author .container-author .group2 .text {
        flex-basis: 60%; }
      .main-author .container-author .group2 .pict {
        flex-basis: 30%;
        margin-right: 40px; }
        .main-author .container-author .group2 .pict img {
          width: 430px;
          height: 671px; }

.main-metodology {
  margin-bottom: 58px; }
  .main-metodology .title {
    margin-bottom: 54px; }
  .main-metodology .wrap {
    background: url("../img/green_background_low.jpg") no-repeat;
    background-size: cover; }
    .main-metodology .wrap .container-center {
      font-family: "NK90", Regular;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #FFF;
      margin-bottom: 190px;
      padding: 57px 70px;
      text-align: center;
      margin-bottom: 40px; }
  .main-metodology .container-metodology {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Gilroy", Sans Serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px; }
    .main-metodology .container-metodology .group1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 10px; }
      .main-metodology .container-metodology .group1 .text {
        flex-basis: 60%; }
        .main-metodology .container-metodology .group1 .text .title {
          font-size: 24px;
          line-height: 26px;
          margin-bottom: 9px;
          text-align: left; }
      .main-metodology .container-metodology .group1 .pict {
        flex-basis: 422px;
        position: relative;
        width: 422px;
        height: 320px;
        margin-right: 40px; }
        .main-metodology .container-metodology .group1 .pict img.X-rey {
          width: 407px;
          height: 305px;
          position: absolute;
          z-index: 2;
          border-radius: 20px;
          right: 0;
          bottom: 0; }
        .main-metodology .container-metodology .group1 .pict img.doc_background {
          width: 407px;
          height: 305px;
          position: absolute;
          z-index: 1;
          top: -32px;
          right: 200px;
          left: 0;
          top: 0; }
      @media screen and (max-width: 1150px) {
        .main-metodology .container-metodology .group1 {
          font-size: 16px;
          line-height: 24px; }
          .main-metodology .container-metodology .group1 .pict {
            flex-basis: 322px;
            width: 322px;
            height: 220px;
            margin-right: 10px; }
            .main-metodology .container-metodology .group1 .pict img.X-rey {
              width: 307px;
              height: 205px; }
            .main-metodology .container-metodology .group1 .pict img.doc_background {
              width: 307px;
              height: 205px; } }
    .main-metodology .container-metodology .group2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 10px; }
      .main-metodology .container-metodology .group2 .text {
        flex-basis: 60%; }
      @media screen and (max-width: 1150px) {
        .main-metodology .container-metodology .group2 {
          font-size: 16px;
          line-height: 24px; } }

.wrap {
  background: url("../img/background_gray.png") 0 0 no-repeat;
  background-size: auto; }

/*# sourceMappingURL=inner.css.map */
