@import 'settings.scss';

.mobile_only {
    display: block;
}

header {

    .insta {
        width: auto;
        height: auto;
        margin-right: 7px;

        img {
            width: 10px;
            height: 10px;
        }
    }

    .twitter {
        width: auto;
        height: auto;
        margin-right: 7px;
        margin-top: 0px;

        img {
            width: 10px;
            height: 8px;
        }
    }

    .facebook {
        width: auto;
        height: auto;

        img {
            width: 7px;
            height: 10px;
        }

    }

    .social {

        flex-basis: 25%;
    }

    .logo {
        width: auto;
        height: auto;

        img {
            width: 69px;
            height: 19px;
        }
    }

    .menu {
        width: auto;
        height: auto;

        img {
            width: 20px;
            height: 7.5px;
        }
    }
}


header .dropdown_content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 38px;

    li {
        min-width: 130px;
        height: 24px;
        font-size: 13px;
        line-height: 24px;
    }
}

.info_content {

    margin-bottom: 40px;

    .title {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 40px;
    }

    .description {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        margin-top: 51px;
    }

    .slogan {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        position: relative;
        margin-bottom: 145px;


        &::after {
            content: "";
            background: url(../img/Arrow.svg) no-repeat;
            position: absolute;
            width: 37px;
            height: 136px;
            top: 37px;
            right: 57px;
        }
    }

    .btn {
        width: 182px;
        height: 59px;
        padding: 10px;

        font-size: 13px;
        line-height: 20px;
    }
}

.slider_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 24px;
}

.mySwiper2 {
    padding-top: 15px;
    padding-bottom: 15px;



    .slider-content {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 14px;

        .title {
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 33px;
            padding-bottom: 0;
        }

        .inner {
            justify-content: flex-start;

            height: auto;
            // padding-left: 49px;
        }

        .description {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 33px;
        }

        img {
            width: 251px;
            height: auto;
            padding-bottom: 165px;

        }

        .btn {
            display: none;
        }
    }

    .swiper-button-next {
        background: none;
        top: var(--swiper-navigation-top-offset, 85%) !important;
        right: var(--swiper-navigation-sides-offset, -5px) !important;
    }

    .swiper-button-prev {
        background: none;
        top: var(--swiper-navigation-top-offset, 85%) !important;
        left: var(--swiper-navigation-sides-offset, -5px) !important;
    }
}

.problem {
    margin-bottom: 63px;
    margin-top: 43px;

    .ui-tabs-panel {
        display: block !important;
    }

    ul.problem_header {
        display: none;
    }

    .problem_title {
        display: flex;
        justify-self: center;
        justify-content: center;
        background: $backcolorGreen;
        border-radius: 8px;
        font-family: $fontGilroy;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        border-color: transparent;
        width: 211px;
        padding: 14px 50px;
        margin: auto;
        margin-bottom: 29px;

    }

    #tabs-1 .right {

        .line,
        span {
            display: none;
        }
    }


    #tabs-2 .right,
    #tabs-3 .right {

        display: none;

    }

    .problem_content {

        padding-top: 16px;

        ul {
            height: auto;
            padding: 10px;
        }

        li {
            // background: url(../img/check.png) no-repeat;
            display: flex;
            justify-content: center;
            padding-top: 53px;
            padding-left: 0;
            text-align: center;
            background-position-x: center;
            background-position-y: 10px;
            margin-bottom: 27px;
            height: auto;

            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

        }

        .right {
            margin: 10px auto;
            background-size: contain;
            width: calc(100% - 76px);


            .circle {
                position: absolute;
                width: 36px;
                height: 36px;
                left: calc(50% - 18px);
                bottom: 36px;
            }

            .triangle {
                position: absolute;
                width: 24px;
                height: 24px;
                left: calc(50% - 10px);
                bottom: 43px;
            }

        }
    }
}

.special {
    margin-bottom: 40px;

    .block1 {
        margin-bottom: 19px;
        min-height: auto;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        padding: 10px;

    }


    .block2 {
        margin-bottom: 19px;

        .group1 {
            .subgroup1 {
                .group2 {
                    .group3 {

                        background-image: none;
                        height: auto;
                        margin-bottom: 19px;

                        p {
                            padding: 20px;

                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }

                    .group4 {
                        margin-bottom: 19px;
                        align-items: stretch;

                        div:nth-of-type(3) {
                            display: none;
                        }

                        div {

                            display: flex;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            flex-basis: 50%;
                            height: auto;
                            padding: 20px;
                            padding-top: 29px;

                        }
                    }
                }
            }

            .subgroup2 {
                background-image: none;
                padding: 20px;
                margin-bottom: 19px;

                p {
                    padding: 0;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                }

            }

            .subgroup3 {
                &.radius {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    background: url('../img/green_background.png') no-repeat bottom;
                    background-size: cover;
                    padding: 30px;

                    font-family: $fontGilroy;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;

                    color: #FFFFFF;
                }
            }
        }
    }

    .block3 {
        background-image: none;
        padding: 20px;
        min-height: auto;

        p {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }
    }

}

footer {
    .title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 17px;
    }

    .copy {

        font-size: 10px;
        line-height: 24px;
        margin-bottom: 21px;
    }


    .container ul {
        flex-direction: column;
        flex-basis: 100%;

        li {
            font-size: 13px;
            line-height: 15px;
            align-items: center;

            p:first-of-type {
                font-size: 15px;
                line-height: 18px;
            }

        }

        .insta {
            width: 22px;
            height: 22px;
            margin-right: 27px;
        }

        .twitter {
            width: 22px;
            height: 18px;
            margin-right: 21px;
            margin-top: 0px;
        }

        .facebook {
            width: 13px;
            height: 22px;
        }
    }
}

// .block2 .group1 .subgroup1 .group2 .group3 {
//     background-image: none;

//     p {
//         font-weight: 600;
//         font-size: 14px;
//         line-height: 17px;
//     }
// }

// .block2 .group4 {
//     div:nth-of-type(3) {
//         display: none;
//     }

//     div {
//         font-weight: 600;
//         font-size: 14px;
//         line-height: 17px;

//     }

// }



// .block2 .group1 .subgroup2 {
//     background-image: none;

//     p {
//         font-weight: 600;
//         font-size: 14px;
//         line-height: 17px;
//     }



// }