.mobile-only {
  display: block; }

.header {
  margin-bottom: 20px; }
  .header .insta {
    width: auto;
    height: auto;
    margin-right: 7px; }
    .header .insta img {
      width: 10px;
      height: 10px; }
  .header .twitter {
    width: auto;
    height: auto;
    margin-right: 7px;
    margin-top: 0px; }
    .header .twitter img {
      width: 10px;
      height: 8px; }
  .header .facebook {
    width: auto;
    height: auto; }
    .header .facebook img {
      width: 7px;
      height: 10px; }
  .header .social {
    flex-basis: 25%; }
  .header .logo {
    width: auto;
    height: auto; }
    .header .logo img {
      width: 69px;
      height: 19px; }
  .header .menu {
    width: auto;
    height: auto; }
    .header .menu img {
      width: 20px;
      height: 7.5px; }
  .header .dropdown-content ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 38px; }
    .header .dropdown-content ul li {
      min-width: 130px;
      height: 24px;
      font-size: 13px;
      line-height: 24px; }
  .header .nav-main ul {
    flex-wrap: wrap;
    position: relative; }
    .header .nav-main ul::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      top: 50%;
      background: linear-gradient(270deg, rgba(196, 196, 196, 0.666667) 0%, #C4C4C4 48.96%, rgba(196, 196, 196, 0) 100%); }
    .header .nav-main ul li {
      flex-basis: 33.3%;
      font-size: 11px;
      line-height: 13px;
      padding-top: 13px;
      padding-bottom: 13px; }
  .header .info-content {
    margin-bottom: 40px; }
    .header .info-content .title {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 40px; }
    .header .info-content .description {
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      margin-top: 51px; }
    .header .info-content .slogan {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      position: relative;
      margin-bottom: 145px; }
      .header .info-content .slogan::after {
        content: "";
        background: url(../img/Arrow.svg) no-repeat;
        position: absolute;
        width: 37px;
        height: 136px;
        top: 37px;
        left: calc(50% + 80px); }
    .header .info-content .btn {
      width: 182px;
      height: 59px;
      padding: 10px;
      font-size: 13px;
      line-height: 20px; }

.slider-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 24px; }

.mySwiper2 {
  padding-top: 15px;
  padding-bottom: 15px; }
  .mySwiper2 .slider-content {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 14px; }
    .mySwiper2 .slider-content .title {
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      margin-bottom: 33px;
      padding-bottom: 0; }
    .mySwiper2 .slider-content .inner {
      justify-content: flex-start;
      height: auto; }
    .mySwiper2 .slider-content .description {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 33px; }
    .mySwiper2 .slider-content img {
      width: 251px;
      height: auto;
      padding-bottom: 165px; }
    .mySwiper2 .slider-content .btn {
      display: none; }
  .mySwiper2 .swiper-button-next {
    background: none;
    top: var(--swiper-navigation-top-offset, 85%) !important;
    right: var(--swiper-navigation-sides-offset, -5px) !important; }
  .mySwiper2 .swiper-button-prev {
    background: none;
    top: var(--swiper-navigation-top-offset, 85%) !important;
    left: var(--swiper-navigation-sides-offset, -5px) !important; }

.problem {
  margin-bottom: 63px;
  margin-top: 43px; }
  .problem .ui-tabs-panel {
    display: block !important; }
  .problem ul.problem-header {
    display: none; }
  .problem .problem-title {
    display: flex;
    justify-self: center;
    justify-content: center;
    background: #94C31F;
    border-radius: 8px;
    font-family: "Gilroy", Sans Serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border-color: transparent;
    width: 211px;
    padding: 14px 50px;
    margin: auto;
    margin-bottom: 29px; }
  .problem #tabs-1 .right .line,
  .problem #tabs-1 .right span {
    display: none; }
  .problem #tabs-2 .right,
  .problem #tabs-3 .right {
    display: none; }
  .problem .problem-content {
    padding-top: 16px; }
    .problem .problem-content ul {
      height: auto;
      padding: 10px; }
    .problem .problem-content li {
      display: flex;
      justify-content: center;
      padding-top: 53px;
      padding-left: 0;
      text-align: center;
      background-position-x: center;
      background-position-y: 10px;
      margin-bottom: 27px;
      height: auto;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px; }
    .problem .problem-content .right {
      margin: 10px auto;
      background-size: contain;
      width: calc(100% - 76px);
      height: auto;
      min-height: 223px;
      background-position: top center; }
      .problem .problem-content .right .circle {
        position: absolute;
        width: 36px;
        height: 36px;
        left: calc(50% - 18px);
        bottom: -18px; }
      .problem .problem-content .right .triangle {
        position: absolute;
        width: 24px;
        height: 24px;
        left: calc(50% - 10px);
        bottom: -11px; }

.special {
  margin-bottom: 40px; }
  .special .block1 {
    margin-bottom: 19px;
    min-height: auto;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 10px; }
  .special .block2 {
    margin-bottom: 19px; }
    .special .block2 .group1 .subgroup1 .group2 .group3 {
      background-image: none;
      height: auto;
      margin-bottom: 19px; }
      .special .block2 .group1 .subgroup1 .group2 .group3 p {
        padding: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px; }
    .special .block2 .group1 .subgroup1 .group2 .group4 {
      margin-bottom: 19px;
      align-items: stretch; }
      .special .block2 .group1 .subgroup1 .group2 .group4 div:nth-of-type(3) {
        display: none; }
      .special .block2 .group1 .subgroup1 .group2 .group4 div {
        display: flex;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        flex-basis: 50%;
        height: auto;
        padding: 20px;
        padding-top: 29px; }
    .special .block2 .group1 .subgroup2 {
      background-image: none;
      padding: 20px;
      margin-bottom: 19px; }
      .special .block2 .group1 .subgroup2 p {
        padding: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px; }
    .special .block2 .group1 .subgroup3.radius {
      max-width: 100%;
      width: 100%;
      height: auto;
      background: url("../img/green_background.png") no-repeat bottom;
      background-size: cover;
      padding: 30px;
      font-family: "Gilroy", Sans Serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF; }
  .special .block3 {
    background-image: none;
    padding: 20px;
    min-height: auto; }
    .special .block3 p {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px; }

footer .title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 17px; }
footer .copy {
  font-size: 10px;
  line-height: 24px;
  margin-bottom: 21px; }
footer .container ul {
  flex-direction: column;
  flex-basis: 100%; }
  footer .container ul li {
    font-size: 13px;
    line-height: 15px;
    align-items: center; }
    footer .container ul li p:first-of-type {
      font-size: 15px;
      line-height: 18px; }
  footer .container ul .insta {
    width: 22px;
    height: 22px;
    margin-right: 27px; }
  footer .container ul .twitter {
    width: 22px;
    height: 18px;
    margin-right: 21px;
    margin-top: 0px; }
  footer .container ul .facebook {
    width: 13px;
    height: 22px; }

.container-members .title {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 42px; }
.container-members .members {
  margin-bottom: 54px; }
  .container-members .members .member {
    flex-direction: column;
    padding-left: 59px;
    padding-right: 59px; }
    .container-members .members .member:nth-child(even) {
      flex-direction: column;
      margin-left: 0; }
    .container-members .members .member:nth-child(odd) {
      flex-direction: column;
      margin-right: 0; }
    .container-members .members .member:nth-child(even) .member-foto {
      margin-left: 0px; }
    .container-members .members .member:nth-child(odd) .member-foto {
      margin-right: 0px; }
    .container-members .members .member .member-foto {
      width: 173px;
      height: 173px;
      margin-bottom: 36px; }
      .container-members .members .member .member-foto .foto {
        background-position: center;
        width: 163px;
        height: 163px;
        margin-right: 0;
        bottom: 0;
        right: 0; }
      .container-members .members .member .member-foto .mask {
        width: 163px;
        height: 163px;
        top: 0;
        left: 0; }
      .container-members .members .member .member-foto .foto1,
      .container-members .members .member .member-foto .foto3 {
        left: auto; }
      .container-members .members .member .member-foto .foto1,
      .container-members .members .member .member-foto .foto2,
      .container-members .members .member .member-foto .foto3 {
        background-position: top; }
      .container-members .members .member .member-foto .foto4 {
        background-position: center; }
    .container-members .members .member .details {
      flex-basis: 45%;
      padding: 25px 30px 19px 57px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container-members .members .member .details .initials {
        font-size: 15px;
        line-height: 30px; }
      .container-members .members .member .details .position {
        font-family: "Gilroy", Sans Serif;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        margin-bottom: 14px; }
      .container-members .members .member .details .about {
        font-family: "Gilroy", Sans Serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
        color: #7E8085; }

.main-center {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 68px; }
  .main-center .container-center {
    padding: 27px 20px;
    text-align: center; }

.main-certificates {
  margin-bottom: 38px; }
  .main-certificates .title {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 36px; }
  .main-certificates .container-certificates .svidetelstvo img {
    max-width: 126px;
    max-height: 180px; }
  .main-certificates .container-certificates .license img {
    max-width: 126px;
    max-height: 180px; }

.wrap ::before {
  background-size: 80%; }

.main-author {
  margin-bottom: 37px; }
  .main-author .container-author .group1 {
    flex-direction: column; }
  .main-author .container-author .group2 {
    flex-direction: column-reverse; }

.main-metodology {
  margin-bottom: 38px; }
  .main-metodology .container-metodology .group1 {
    flex-direction: column; }

/*# sourceMappingURL=mobile.css.map */
