@import 'settings.scss';

.mobile-only {
    display: block;
}

.header {
    margin-bottom: 20px;

    .insta {
        width: auto;
        height: auto;
        margin-right: 7px;

        img {
            width: 10px;
            height: 10px;
        }
    }

    .twitter {
        width: auto;
        height: auto;
        margin-right: 7px;
        margin-top: 0px;

        img {
            width: 10px;
            height: 8px;
        }
    }

    .facebook {
        width: auto;
        height: auto;

        img {
            width: 7px;
            height: 10px;
        }

    }

    .social {

        flex-basis: 25%;
    }

    .logo {
        width: auto;
        height: auto;

        img {
            width: 69px;
            height: 19px;
        }
    }

    .menu {
        width: auto;
        height: auto;

        img {
            width: 20px;
            height: 7.5px;
        }
    }

    .dropdown-content ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 38px;

        li {
            min-width: 130px;
            height: 24px;
            font-size: 13px;
            line-height: 24px;
        }

    }



    .nav-main {
        ul {
            flex-wrap: wrap;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                height: 1px;
                width: 100%;
                top: 50%;
                background: linear-gradient(270deg, rgba(196, 196, 196, 0.666667) 0%, #C4C4C4 48.96%, rgba(196, 196, 196, 0) 100%);
            }

            li {
                flex-basis: 33.3%;
                font-size: 11px;
                line-height: 13px;
                padding-top: 13px;
                padding-bottom: 13px;
            }

        }
    }

    .info-content {

        margin-bottom: 40px;
        height: 578px;

        .title {
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 40px;
        }

        .description {
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            margin-top: 51px;
        }

        .slogan {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            position: relative;
            margin-bottom: 145px;


            &::after {
                content: "";
                background: url(../img/Arrow.svg) no-repeat;
                position: absolute;
                width: 37px;
                height: 136px;
                top: 37px;
                left: calc(50% + 80px);
            }
        }

        .btn {
            width: 182px;
            height: 59px;
            padding: 10px;

            font-size: 13px;
            line-height: 20px;
        }
    }
}

.slider-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 24px;
}

.mySwiper2 {
    padding-top: 15px;
    padding-bottom: 15px;



    .slider-content {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 14px;

        .title {
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 33px;
            padding-bottom: 0;
        }

        .inner {
            justify-content: flex-start;

            height: auto;
            // padding-left: 49px;
        }

        .description {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 33px;
        }

        img {
            width: 251px;
            height: auto;
            padding-bottom: 165px;

        }

        .btn {
            display: none;
        }
    }

    .swiper-button-next {
        background: none;
        top: var(--swiper-navigation-top-offset, 85%) !important;
        right: var(--swiper-navigation-sides-offset, -5px) !important;
    }

    .swiper-button-prev {
        background: none;
        top: var(--swiper-navigation-top-offset, 85%) !important;
        left: var(--swiper-navigation-sides-offset, -5px) !important;
    }
}

.problem {
    margin-bottom: 63px;
    margin-top: 43px;

    .ui-tabs-panel {
        display: block !important;
    }

    ul.problem-header {
        display: none;
    }

    .problem-title {
        display: flex;
        justify-self: center;
        justify-content: center;
        background: $backcolorGreen;
        border-radius: 8px;
        font-family: $fontGilroy;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        border-color: transparent;
        width: 211px;
        padding: 14px 50px;
        margin: auto;
        margin-bottom: 29px;

    }

    #tabs-1 .right {

        .line,
        span {
            display: none;
        }
    }


    #tabs-2 .right,
    #tabs-3 .right {

        display: none;

    }

    .problem-content {

        padding-top: 16px;

        ul {
            height: auto;
            padding: 10px;
        }

        li {
            // background: url(../img/check.png) no-repeat;
            display: flex;
            justify-content: center;
            padding-top: 53px;
            padding-left: 0;
            text-align: center;
            background-position-x: center;
            background-position-y: 10px;
            margin-bottom: 27px;
            height: auto;

            font-weight: 600;
            font-size: 14px;
            line-height: 17px;

        }

        .right {
            margin: 10px auto;
            background-size: contain;
            width: calc(100% - 76px);
            height: auto;
            min-height: 223px;
            background-position: top center;

            .circle {
                position: absolute;
                width: 36px;
                height: 36px;
                left: calc(50% - 18px);
                bottom: -18px;
            }

            .triangle {
                position: absolute;
                width: 24px;
                height: 24px;
                left: calc(50% - 10px);
                bottom: -11px;
            }

        }
    }
}

.special {
    margin-bottom: 40px;

    .block1 {
        margin-bottom: 19px;
        min-height: auto;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        padding: 10px;

    }


    .block2 {
        margin-bottom: 19px;

        .group1 {
            .subgroup1 {
                .group2 {
                    .group3 {

                        background-image: none;
                        height: auto;
                        margin-bottom: 19px;

                        p {
                            padding: 20px;

                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }

                    .group4 {
                        margin-bottom: 19px;
                        align-items: stretch;

                        div:nth-of-type(3) {
                            display: none;
                        }

                        div {
                            max-width: none;
                            display: flex;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            flex-basis: 50%;
                            height: auto;
                            padding: 20px;
                            padding-top: 29px;
                            
                            &.radius:nth-child(2) {                            
                                margin-right: 0;
                            }

                        }

                       
                    }
                }
            }

            .subgroup2 {
                background-image: none;
                padding: 20px;
                margin-bottom: 19px;

                p {
                    padding: 0;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                }

            }

            .subgroup3 {
                &.radius {
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    background: url('../img/green_background.png') no-repeat bottom;
                    background-size: cover;
                    padding: 30px;

                    font-family: $fontGilroy;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;

                    color: #FFFFFF;
                }
            }
        }
    }

    .block3 {
        background-image: none;
        padding: 20px;
        min-height: auto;

        p {
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
        }
    }

}

footer {
    .title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 17px;
    }

    .copy {

        font-size: 10px;
        line-height: 24px;
        margin-bottom: 21px;
    }


    .container ul {
        flex-direction: column;
        flex-basis: 100%;

        li {
            font-size: 13px;
            line-height: 15px;
            align-items: center;

            p:first-of-type {
                font-size: 15px;
                line-height: 18px;
            }

        }

        .insta {
            width: 22px;
            height: 22px;
            margin-right: 27px;
        }

        .twitter {
            width: 22px;
            height: 18px;
            margin-right: 21px;
            margin-top: 0px;
        }

        .facebook {
            width: 13px;
            height: 22px;
        }
    }
}

.container-members {

    .title {
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 42px;
    }

    .members {
        margin-bottom: 54px;

        .member {
            flex-direction: column;
            padding-left: 59px;
            padding-right: 59px;

            &:nth-child(even) {
                flex-direction: column;
                margin-left: 0;
            }

            &:nth-child(odd) {
                flex-direction: column;
                margin-right: 0;
            }

            &:nth-child(even) .member-foto {
                margin-left: 0px;
            }


            &:nth-child(odd) .member-foto {
                margin-right: 0px;
            }


            .member-foto {
                width: 173px;
                height: 173px;
                margin-bottom: 36px;

                .foto {
                    background-position: center;
                    width: 163px;
                    height: 163px;
                    margin-right: 0;
                    bottom: 0;
                    right: 0;
                }

                .mask {
                    width: 163px;
                    height: 163px;
                    top: 0;
                    left: 0;
                }

                .foto1,
                .foto3 {
                    left: auto;
                }

                .foto1,
                .foto2,
                .foto3 {
                    background-position: top;
                }

                .foto4 {
                    background-position: center;
                }


            }

            .details {
                flex-basis: 45%;
                padding: 25px 30px 19px 57px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .initials {
                    font-size: 15px;
                    line-height: 30px;

                }

                .position {
                    font-family: $fontGilroy;
                    font-style: normal;
                    font-weight: 900;
                    font-size: 14px;
                    line-height: 22px;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    margin-bottom: 14px;
                }

                .about {
                    font-family: $fontGilroy;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 26px;
                    color: #7E8085;
                }
            }
        }
    }
}

.main-center {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 68px;

    .container-center {
        padding: 27px 20px;
        text-align: center;
    }

}

.main-certificates {

    margin-bottom: 38px;

    .title {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 36px;
    }

    .container-certificates {

        justify-content: center;

        .svidetelstvo {
            padding-right: 16px;

            img {
                width: auto;
                height: 180px;
            }
        }

        .license {
            padding-left: 16px;

            img {
                width: auto;
                height: 180px;
            }
        }
    }
}

.wrap {

    ::before {
        background-size: 80%;
        // transform: rotate(30deg);

    }
}

.main-author {
    margin-bottom: 37px;


    .container-author {
        p {
            font-size: 16px;
            line-height: 23px;

        }

        .group1 {
            flex-direction: column;

            .pict {
                width: 198px;
                height: 198x;

                img {
                    width: 198px;
                    height: 198px;
                }
            }
        }

        .group2 {
            flex-direction: column-reverse;

            .pict {
                width: 233px;
                height: 267px;
                margin-right: 0;

                img {
                    width: 233px;
                    height: auto;
                }
            }
        }

    }
}

.main-metodology {
    margin-bottom: 38px;

    .title {
        margin-bottom: 29px;
    }

    .container-metodology {
        font-size: 18px;
        line-height: 26px;
        padding-left: 20px;
        padding-right: 20px;

        .group1 {
            flex-direction: column-reverse;
            margin-bottom: 47px;

            .text {
                flex-basis: 60%;
                margin-bottom: 40px;

                .title {
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 13px;
                    text-align: center;
                }
            }

            .pict {
                flex-basis: 223px;
                width: 288px;
                height: 223px;


                img.X-rey {
                    width: 277px;
                    height: 202px;
                    bottom: 11px;
                }

                img.doc_background {
                    width: 277px;
                    height: 202px;
                }
            }
        }
    }
}

.wrap {
    background: url('../img/background_gray_mobile.png') 0 0 no-repeat;
    background-size: auto;
}