@import 'settings.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: $fontGilroy;
    font-weight: 700;
}


.container {
    max-width: 1280px;
    margin: 0 auto;

    &.container-slider {
        max-width: 1340px;
    }

    &.container-footer,
    &.container-members,
    &.container-certificates {
        max-width: 1000px;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radius {
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.title {
    font-family: $fontNK90;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: $backcolorGreen;
}

.slider-title {
    font-family: $fontNK90;
    font-weight: 400;
    color: $backcolorGreen;
    font-size: 30px;
    text-align: center;
    margin-bottom: 61px;
}


.mobile-only {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}


.header {
    font-family: $fontGilroy;
    color: white;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .insta {
        width: 30px;
        height: 30px;
        margin-right: 27px;

        &:hover {
            transform: scale(1.2);
        }
    }

    .twitter {
        width: 24px;
        height: 30px;
        margin-right: 21px;
        margin-top: 7px;

        &:hover {
            transform: scale(1.2);
        }
    }

    .facebook {
        width: 17px;
        height: 30px;

        &:hover {
            transform: scale(1.2);
        }
    }

    .social {

        flex-basis: 25%;
    }

    .logo {
        width: 162px;
        height: 50px;
        flex-basis: 50%;
        text-align: center;
    }

    .menu {
        width: 162px;
        height: 50px;
        text-align: right;
        flex-basis: 25%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;



        .dropdown-pict {
            padding: 10px;
            background-color: $colorWhite;
            z-index: 2;
            position: relative;

            &:hover {
                border: solid $backcolorGreen;
                border-width: 1px 1px 0px 1px;

                & .dropdown-content {
                    display: block;
                    // transition: all 1s ease-out 0.5s;
                }
            }
        }
    }

    .dropdown-content {

        display: none;

        ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0px;
            top: 41px;
            background-color: $colorWhite;
            border: $backcolorGreen 1px solid;
            z-index: 1;

            li {
                min-width: 150px;
                height: 30px;
                font-family: $fontGilroy;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                color: #B3B3B3;
                border: solid $backcolorGreen;
                border-width: 0px 0px 1px 0px;

                &:hover {
                    background-color: $backcolorGreen;
                    color: $colorWhite;
                }

            }
        }
    }
}


.info {
    height: 668px;
    background-color: $backcolorGreen;
    justify-content: space-between;

    .left {
        background: url('../img/green_background.png') no-repeat;
        /* background-size: 1006px 668px; */
        background-size: cover;
        height: 668px;
        flex-basis: 1042px;
    }

    .right {
        background: url('../img/group_white.png') no-repeat;
        /* background-size: 668px; */
        width: 878px;
        height: 668px;
    }
}

.info-content {
    margin-top: -568px;
    // margin-bottom: 65px;
    height: 668px;

    .title {
        font-family: $fontGilroy;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
        color: $colorWhite;
    }

    .container {
        padding-right: 580px;
    }

    @media screen and (min-width: 980px) and (max-width: 1280px) {
        margin-top: -628px;
        margin-bottom: 30px;

        .title {
            font-size: 50px;
            line-height: 61px;
        }

        .description {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 86px;
        }

        .slogan {
            font-size: 15px;
            line-height: 18px;
            margin-bottom: 66px;
        }
    }

    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
    }

    .description {
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 96px;
    }

    .slogan {
        font-style: italic;
        font-weight: 700;
        font-size: 20px;
        // line-height: 24px;
        // letter-spacing: 0.05em;
        margin-bottom: 76px;
    }

    .btn {
        padding: 20px 50px;
        background: #F8F8F8;
        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
        border-radius: 12px;
        border-color: transparent;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;

        text-align: center;
        letter-spacing: 0.1em;
        color: $colorBlack;
    }


}

.mySwiper {
    .swiper-slide {        
        opacity: 1;
    }
}

.slider-thumb {
    font-family: $fontGilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: $colorBlack;
    padding: 18px 15px;

    &:hover {
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;        
    }

    .swiper-slide-thumb-active & {
        background-color: $backcolorGreen;
        color: #FFFFFF;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

    }
}

.slider-content {
    display: flex;
    flex-direction: row;
    // height: 502px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 65px 70px;
    margin-left: 40px;
    margin-right: 40px;

    img {
        width: 412px;
        height: 377px;
        border-radius: 8px;
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 377px;
        padding-left: 49px;
    }

    .title {
        padding-bottom: 54px;
        font-size: 28px;
    }

    .description {
        // padding-bottom: 124px;
        font-family: $fontGilroy;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
    }

    .btn {
        width: 266px;
        height: 85px;
        background: $backcolorGreen;
        border-radius: 8px;
        font-family: $fontGilroy;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        border-color: transparent;
    }
}

.mySwiper2 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.swiper-button-next {
    background: url('../img/Ellipse.png') no-repeat;
    width: 125px;
    height: 100px;
    background-size: contain;
    top: var(--swiper-navigation-top-offset, 45%);
    right: var(--swiper-navigation-sides-offset, -25px);
    background-position-x: 27px;

    &:after {
        font-weight: bolder;
    }
}

.swiper-button-prev {
    background: url('../img/Ellipse.png') no-repeat;
    width: 125px;
    height: 100px;
    background-size: contain;
    top: var(--swiper-navigation-top-offset, 45%);
    left: var(--swiper-navigation-sides-offset, -25px);
    background-position-x: -27px;

    &:after {
        font-weight: bolder;
    }
}

.problem {
    margin-top: 78px;
    margin-bottom: 150px;

    ul.problem-header {
        padding-top: 39px;
        display: flex;
        text-align: center;

        li {
            width: 454px;
            height: 75px;

            font-family: $fontGilroy;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            text-align: center;
            color: #C6C6C6;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 4px;
        }

        li.ui-state-active {
            background: $backcolorGreen;
            border-radius: 8px;
            font-family: $fontGilroy;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            color: #FFFFFF;
            border-color: transparent;
        }
    }



}

.problem-header{
    li
    {
        &:hover {
            box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
            border-radius: 5px;    
        }
    }
}

.problem-content {
    height: 362px;
    justify-content: space-between;
    padding-top: 26px;

    ul {
        height: 362px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-left: 34px;

    }

    li {
        background: url('../img/check.png') no-repeat;
        background-size: 36px 29px;
        padding-left: 65px;
        height: 60px;
    }

    .left {
        width: calc(100% - 398px);

    }

    .right {
        background: url('../img/ball_with_boy.png') no-repeat;
        /* background-size: 668px; */
        width: 398px;
        height: 362px;
        position: relative;

        .circle {
            position: absolute;
            width: 60px;
            height: 60px;
            left: 170px;
            bottom: -30px;
        }

        .triangle {
            position: absolute;
            width: 36px;
            height: 36px;
            left: 187px;
            bottom: -18px;
        }

        .line {
            position: absolute;
            width: 68.55px;
            height: 66.09px;
            left: 120px;
            bottom: -97px;
        }

        span {
            position: absolute;
            width: 97px;
            height: 28px;
            left: 43px;
            bottom: -74px;

            font-family: $fontGilroy;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            color: $colorBlack;
            opacity: 0.4;
        }
    }

}

.special {
    margin-bottom: 159px;

    .block1 {
        min-height: 273px;
        background: url('../img/green_background.png') no-repeat;
        background-position: 0px 22%;
        font-family: $fontNK90;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        color: #FFFFFF;
        padding: 20px 150px;
        text-align: center;

        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        margin-bottom: 43px;
    }

    .block2 {
        margin-bottom: 43px;

        .group1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .subgroup1 {
                max-width: 900px;

                .group2 {
                    display: flex;
                    flex-direction: column;

                    .group3 {
                        height: 335px;
                        background: url('../img/cross.png') no-repeat bottom right;
                        // background-position: 0 80%;
                        // background-size: 80%;
                        margin-bottom: 43px;

                        p {
                            padding-left: 28px;
                            padding-right: 163px;
                            padding-top: 90px;
                            padding-bottom: 65px;

                            font-family: $fontGilroy;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 25px;
                            line-height: 30px;

                            color: $colorBlack
                        }
                    }


                }
            }

            .subgroup2 {
                height: 651px;
                max-width: 335px;

                background: url('../img/mat.png') no-repeat bottom;

                font-family: $fontGilroy;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 26px;
                padding-bottom: 376px;

                color: $colorBlack;

                box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
                border-radius: 10px;

                p {
                    padding-left: 24px;
                    padding-right: 24px;
                    padding-top: 64px;

                }
            }
        }

        .group4 {

            max-width: 900px;
            justify-content: space-between;

            div {
                max-width: 272px;
                width: 31%;
                height: 273px;
                background: url('../img/green_background.png') no-repeat bottom;
                background-size: cover;
                padding: 25px;

                font-family: $fontGilroy;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 26px;

                color: #FFFFFF;
            }
        }


    }

    .block3 {
        min-height: 335px;

        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px;

        background-image: url('../img/ball_with_girl.png'), linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);
        background-repeat: no-repeat;
        background-position: right bottom;

        padding-top: 64px;
        padding-left: 28px;
        padding-right: 584px;
        padding-bottom: 141px;

        p {
            font-family: $fontGilroy;
            font-style: normal;
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;

            color: #000000;
        }

    }
}

footer {

    .title {
        font-family: $fontNK90;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: $backcolorGreen;
        margin-bottom: 62px;
    }

    .copy {
        font-family: $fontGilroy;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #B3B3B3;
        margin-bottom: 62px;
    }

    ul {

        justify-content: space-between;
        margin-bottom: 47px;
        flex-basis: 25%;

        li {
            // width: 207px;
            font-family: $fontGilroy;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            flex-direction: column;
            // align-items: flex-end;
            color: $colorBlack;

            p:first-of-type {
                font-family: $fontGilroy;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                display: flex;
                align-items: flex-end;
                color: $colorBlack;
                margin-bottom: 18px;
            }
        }


        .insta {
            width: 26px;
            height: 26px;
            margin-right: 27px;

            &:hover {
                transform: scale(1.2);
            }
        }

        .twitter {
            width: 26px;
            height: 18px;
            margin-right: 21px;
            margin-top: 0px;

            &:hover {
                transform: scale(1.2);
            }
        }

        .facebook {
            width: 13px;
            height: 26px;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .map {
        position: relative;
        overflow: hidden;
    }
}

.container-gallery .swiper {
    height: 834px;
}


.gallery-slide {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1281px;
    height: 100%;

}

.gallery-element {
    width: 387px;
    height: 387px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}