* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Gilroy", Sans Serif;
  font-weight: 700; }

.container {
  max-width: 1280px;
  margin: 0 auto; }
  .container.container-slider {
    max-width: 1340px; }
  .container.container-footer, .container.container-members {
    max-width: 1000px; }

.flex {
  display: flex;
  flex-direction: row;
  align-items: center; }

.nk90 {
  font-family: "NK90", Regular, Regular;
  font-weight: 400;
  color: #2b2c54; }

.align-center {
  text-align: center; }

.NK90-400-green {
  font-family: "NK90", Regular;
  font-weight: 400;
  color: #94C31F; }

.radius {
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px; }

.slider-title {
  font-size: 30px; }

.mobile-only {
  display: none; }

a {
  color: inherit;
  text-decoration: none; }

li {
  list-style-type: none; }

.header {
  font-family: "Gilroy", Sans Serif;
  color: white; }
  .header ul {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .header .insta {
    width: 30px;
    height: 30px;
    margin-right: 27px; }
  .header .twitter {
    width: 24px;
    height: 30px;
    margin-right: 21px;
    margin-top: 7px; }
  .header .facebook {
    width: 17px;
    height: 30px; }
  .header .social {
    flex-basis: 25%; }
  .header .logo {
    width: 162px;
    height: 50px;
    flex-basis: 50%;
    text-align: center; }
  .header .menu {
    width: 162px;
    height: 50px;
    text-align: right;
    flex-basis: 25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .header .menu .dropdown-pict {
      padding: 10px;
      background-color: #FFF;
      z-index: 2;
      position: relative; }
      .header .menu .dropdown-pict:hover {
        border: solid #94C31F;
        border-width: 1px 1px 0px 1px; }
        .header .menu .dropdown-pict:hover .dropdown-content {
          display: block;
          transition: all 1s ease-out 0.5s; }
  .header .dropdown-content {
    display: none; }
    .header .dropdown-content ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0px;
      top: 41px;
      background-color: #FFF;
      border: #94C31F 1px solid;
      z-index: 1; }
      .header .dropdown-content ul li {
        min-width: 150px;
        height: 30px;
        font-family: "Gilroy", Sans Serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #B3B3B3;
        border: solid #94C31F;
        border-width: 0px 0px 1px 0px; }

.info {
  height: 668px;
  background-color: #94C31F;
  justify-content: space-between; }
  .info .left {
    background: url("../img/green_background.png") no-repeat;
    /* background-size: 1006px 668px; */
    background-size: cover;
    height: 668px;
    flex-basis: 1042px; }
  .info .right {
    background: url("../img/group_white.png") no-repeat;
    /* background-size: 668px; */
    width: 878px;
    height: 668px; }

.info-content {
  margin-top: -668px;
  margin-bottom: 65px;
  height: 668px; }
  .info-content .container {
    padding-right: 580px; }
  @media screen and (min-width: 980px) and (max-width: 1280px) {
    .info-content .title {
      font-size: 50px;
      line-height: 61px; }
    .info-content .description {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 86px; }
    .info-content .slogan {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 66px; } }
  .info-content .title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px; }
  .info-content .description {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 96px; }
  .info-content .slogan {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 76px; }
  .info-content .btn {
    padding: 20px 50px;
    background: #F8F8F8;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    border-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000; }

.slider-thumb {
  font-family: "Gilroy", Sans Serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #000;
  padding: 18px 15px; }
  .swiper-slide-thumb-active .slider-thumb {
    background-color: #94C31F;
    color: #FFFFFF; }

.slider-content {
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, #FFFFFF 0%, #F1F1F1 100%);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 65px 70px;
  margin-left: 40px;
  margin-right: 40px; }
  .slider-content img {
    width: 412px;
    height: 377px;
    border-radius: 8px; }
  .slider-content .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 377px;
    padding-left: 49px; }
  .slider-content .title {
    padding-bottom: 54px;
    font-size: 28px; }
  .slider-content .description {
    font-family: "Gilroy", Sans Serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px; }
  .slider-content .btn {
    width: 266px;
    height: 85px;
    background: #94C31F;
    border-radius: 8px;
    font-family: "Gilroy", Sans Serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    border-color: transparent; }

.mySwiper2 {
  padding-top: 7px;
  padding-bottom: 7px; }

.swiper-button-next {
  background: url("../img/Ellipse.png") no-repeat;
  width: 125px;
  height: 100px;
  background-size: contain;
  top: var(--swiper-navigation-top-offset, 45%) !important;
  right: var(--swiper-navigation-sides-offset, -25px) !important;
  background-position-x: 27px; }
  .swiper-button-next:after {
    font-weight: bolder; }

.swiper-button-prev {
  background: url("../img/Ellipse.png") no-repeat;
  width: 125px;
  height: 100px;
  background-size: contain;
  top: var(--swiper-navigation-top-offset, 45%) !important;
  left: var(--swiper-navigation-sides-offset, -25px) !important;
  background-position-x: -27px; }
  .swiper-button-prev:after {
    font-weight: bolder; }

.problem {
  margin-top: 78px;
  margin-bottom: 150px; }
  .problem ul.problem-header {
    padding-top: 39px;
    display: flex;
    text-align: center; }
    .problem ul.problem-header li {
      width: 454px;
      height: 75px;
      font-family: "Gilroy", Sans Serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      color: #C6C6C6;
      display: flex;
      align-items: center;
      justify-content: center; }
    .problem ul.problem-header li.ui-state-active {
      background: #94C31F;
      border-radius: 8px;
      font-family: "Gilroy", Sans Serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      color: #FFFFFF;
      border-color: transparent; }

.problem-content {
  height: 362px;
  justify-content: space-between;
  padding-top: 26px; }
  .problem-content ul {
    height: 362px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 34px; }
  .problem-content li {
    background: url("../img/check.png") no-repeat;
    background-size: 36px 29px;
    padding-left: 65px;
    height: 60px; }
  .problem-content .left {
    width: calc(100% - 398px); }
  .problem-content .right {
    background: url("../img/ball_with_boy.png") no-repeat;
    /* background-size: 668px; */
    width: 398px;
    height: 362px;
    position: relative; }
    .problem-content .right .circle {
      position: absolute;
      width: 60px;
      height: 60px;
      left: 170px;
      bottom: -30px; }
    .problem-content .right .triangle {
      position: absolute;
      width: 36px;
      height: 36px;
      left: 187px;
      bottom: -18px; }
    .problem-content .right .line {
      position: absolute;
      width: 68.55px;
      height: 66.09px;
      left: 120px;
      bottom: -97px; }
    .problem-content .right span {
      position: absolute;
      width: 97px;
      height: 28px;
      left: 43px;
      bottom: -74px;
      font-family: "Gilroy", Sans Serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      color: #000;
      opacity: 0.4; }

.special {
  margin-bottom: 159px; }
  .special .block1 {
    min-height: 273px;
    background: url("../img/green_background.png") no-repeat;
    background-position: 0px 22%;
    font-family: "NK90", Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    padding: 20px 150px;
    text-align: center;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 43px; }
  .special .block2 {
    margin-bottom: 43px; }
    .special .block2 .group1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .special .block2 .group1 .subgroup1 {
        max-width: 900px; }
        .special .block2 .group1 .subgroup1 .group2 {
          display: flex;
          flex-direction: column; }
          .special .block2 .group1 .subgroup1 .group2 .group3 {
            height: 335px;
            background: url("../img/cross.png") no-repeat bottom right;
            margin-bottom: 43px; }
            .special .block2 .group1 .subgroup1 .group2 .group3 p {
              padding-left: 28px;
              padding-right: 163px;
              padding-top: 90px;
              padding-bottom: 65px;
              font-family: "Gilroy", Sans Serif;
              font-style: normal;
              font-weight: 600;
              font-size: 25px;
              line-height: 30px;
              color: #000; }
      .special .block2 .group1 .subgroup2 {
        height: 651px;
        max-width: 335px;
        background: url("../img/mat.png") no-repeat bottom;
        font-family: "Gilroy", Sans Serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        padding-bottom: 376px;
        color: #000;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
        border-radius: 10px; }
        .special .block2 .group1 .subgroup2 p {
          padding-left: 24px;
          padding-right: 24px;
          padding-top: 64px; }
    .special .block2 .group4 {
      max-width: 900px;
      justify-content: space-between; }
      .special .block2 .group4 div {
        max-width: 272px;
        width: 31%;
        height: 273px;
        background: url("../img/green_background.png") no-repeat bottom;
        background-size: cover;
        padding: 25px;
        font-family: "Gilroy", Sans Serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #FFFFFF; }
  .special .block3 {
    min-height: 335px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-image: url("../img/ball_with_girl.png"), linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 64px;
    padding-left: 28px;
    padding-right: 584px;
    padding-bottom: 141px; }
    .special .block3 p {
      font-family: "Gilroy", Sans Serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #000000; }

footer .title {
  font-family: "NK90", Regular;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #94C31F;
  margin-bottom: 62px; }
footer .copy {
  font-family: "Gilroy", Sans Serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #B3B3B3;
  margin-bottom: 62px; }
footer ul {
  justify-content: space-between;
  margin-bottom: 47px;
  flex-basis: 25%; }
  footer ul li {
    font-family: "Gilroy", Sans Serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    color: #000; }
    footer ul li p:first-of-type {
      font-family: "Gilroy", Sans Serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: flex-end;
      color: #000;
      margin-bottom: 18px; }
  footer ul .insta {
    width: 26px;
    height: 26px;
    margin-right: 27px; }
  footer ul .twitter {
    width: 26px;
    height: 18px;
    margin-right: 21px;
    margin-top: 0px; }
  footer ul .facebook {
    width: 13px;
    height: 26px; }
footer .map {
  position: relative;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
