*{
    margin: 0;
    padding: 0;
}

a{
    color: green;
    /* text-decoration: underline; */
}

a:hover
{
    color: red;
}

tr{
    text-align: center;
}

td, .var2 div, .var3 li {
    border-right: red solid 5px;
    padding: 20px;
    width: 150px;
}

.var1, .var2, .var3{
    margin-bottom: 20px;
}

.var2::after
{
    content: '';
    clear:both;
    display: block;
}

.var2 div
{
    float: left;
    text-align: center;
}

var3.a
{
    padding-top: 20px;
    padding-left: 20px;  
    position: relative;
    display: inline-block;
}

.var3 ul{
    display: flex;
}

li{
    list-style-type: none;
    text-align: center;
}



