/* 
font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #2b2c54;
    height: 10000px;
}

.container {
    width: 1680px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    margin-top: 120px;
}

h2.mt87 {
    margin-top: 87px;
}

h2 span {
    position: relative;
}

h2 span.left:before {
    content: "";
    background: url("../img/h-left-icon.png");
    position: absolute;
    width: 522px;
    height: 121px;
    top: -17px;
    left: -86px;
    z-index: -1;
}

h2 span.right:before {
    content: "";
    background: url(../img/h-left-icon.png);
    position: absolute;
    width: 522px;
    height: 121px;
    top: -22px;
    left: 356px;
    z-index: -1;
}

h2.icon__left {
    /* background: url("../img/h-left-icon.png") no-repeat 34% -1px; */
    padding-top: 15px;
}

.p_center
{
    text-align: center;
    margin-top: 43px;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    width: 176px;
    height: 52px;
    background: #F6F4FE;
    border: 1px solid #6743EF;
    box-shadow: 0px 4px 0px #6743EF;
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #6743EF;
}

.btn_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 10px;
    width: 206px;
    height: 60px;
    background: #9981F5;
    border: 1px solid #6743EF;
    box-shadow: 0px 4px 0px #6743EF, 0px 4px 30px rgba(128, 98, 242, 0.6);
    border-radius: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 30px;
}

.rotate_block {
    position: relative;
}

.rotate_block:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-2.65deg);
    background: #8062F2;
    z-index: -1;
}

.rotate_block h6 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F6F4FE;
    margin-bottom: 12px;
}

.rotate_block h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.rotate_block p {
    line-height: 140%;
    color: #F6F4FE;
    margin-bottom: 10px;
}

.rotate_block p span {
    font-weight: 500;
}

/* header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    align-items: center;
}

.header ul li {
    margin-right: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.02em;
}

.header ul li:last-child {
    margin-right: 0;
}

.header img {
    padding: 13px 0;
}


/* program__block */
.program__block.pr4child_teen ul {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.program__block.pr4college ul {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}


.program__block.pr4child_teen ul li {
    padding: 30px;
    padding-top: 300px;
    width: 541px;
    height: 609px;
    background: url('../img/program1.png') no-repeat center;
}

.program__block.pr4college ul li
{   padding: 30px;
    padding-top: 230px;
    height: 560px;
    width: 826px;  
}

.z2
{   
    position: relative;
    z-index: 10; 
}

.program__block.pr4college ul li:nth-child(1) 
{
    position: relative;
    background-image: url('../img/woman-art-school-wearing-apron-drawing-easel.png') ;
}


.program__block.pr4college ul li:nth-child(2) 
{
    position: relative;
    background: url('../img/young-graphic-designer-working-office.png') no-repeat center;
}

.program__block.pr4college ul li:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #0c0c0c;
    opacity:0.5;
    z-index: 1;
}
/* teachers */
.teachers {}

.teachers ul {
    display: flex;
    justify-content: space-between;
}

.teachers ul li {
    width: 390px;
    height: 514px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.teachers ul li img {
    width: 100%;
}

.teachers ul li:before {
    content: "";
    width: 100%;
    height: 100%;
    background: url("../img/fon_trap.png") center no-repeat;
    position: absolute;
    left: -30px;
    top: 50px;
    background-size: 100% 90%;
    z-index: -1;
    transition: 0.5s;
}
.teachers ul li:hover::before{
    background: url("../img/fon_trap_hover.png") center no-repeat;
    background-size: 100% 90%;
}

.teachers ul li p {
    height: 90px;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: rgba(43, 44, 84, 0.7);
    padding-top: 33px;
    box-shadow: 0px 30px 60px rgba(43, 44, 84, 0.1);
}