.header{
    background-color: blueviolet;
    color: azure;
    text-align: center;
}

.footer{
    background-color: rgb(168, 50, 109);
}

.wrap{
    background-color: blue;
    display: flex;      
}

.menu{
    background-color: rgb(228, 207, 22);
    width: 33.3%;
}

.content{
    background-color: rgb(109, 96, 90);
    /* width: 33.3%; */
}

.banner{
    background-color: rgb(49, 226, 43);
    width: 33.3%;
}


